.modal-content {
  min-width: 50vw;
  max-width: 50vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.modal-exit {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.close-btn {
  color: #fff;
}

.modal-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 1rem;
  color: #fff;
  overflow: auto;
}

.modal-genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.modal-genre {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  border-radius: 3px;
  background-color: #000;
}

.modal-ratings {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem 0;
}

.modal-rating {
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.2rem 0.5rem 0.3rem 0.5rem;
  border-radius: 3px;
  background-color: #717070;
}

.modal-trailer {
  height: 100%;
  padding: 30px 0;
}

/* @media (max-width: 1200px) {
  .modal-content {
    flex-direction: column;
  }
  .modal-image {
    display: none;
  }
  .modal-info {
    width: 50vw;
    height: 70vh;
    padding: 1rem;
    justify-content: center;
  }
} */

@media (max-width: 768px) {
  .modal-content {
    min-width: 90vw;
    max-width: 90vw;
  }
}
