body {
  background-color: #000;
}

.movies-container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 20px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  max-width: 1600px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #fff;
}
