body {
  background-color: #000;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0 20px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  color: #fff;
}
